<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ghibli Movie Challenge: How Much Do You Really Know?</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">

    <style>
        body {
            size: 100vh;
        }

        h1 {
            font-family: "Poppins", sans-serif;
        }

        .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            border-radius: 0.25rem;
        }
        .quizz-component {
            margin-top: 20px;
        }

        .quizz-component {

            padding: 20px 50px 20px 50px;
        }
        .question-counter {
            display: flex;
            flex-direction:row;
            width: 140px;
            text-align: center;
            justify-content: center;
            padding-left: 4px;
            background-color: black;
            color: white;
            letter-spacing: 2px;
        }

        .question-box {
            padding: 0px;
        }

        .btn {
            background-color: #F8F9FB;
        }

        .btn-begin {
            background-color: #000;
        }
        .custom-btn:hover {
            background-color: rgb((236), 236, 236); /* gris clair */
            color: #000; /* texte en noir pour contraster */
        }

    </style>

</head>
<body>

    <div class= "title-container">
        <div class="container px-4 py-5 my-3">
            <div class="row">
                <div class="col-12">
                    <img class="d-block mx-auto mb-4" src="images/icons8-totoro.svg" alt="" width="72" height="57">
                    <h1 class="display-5 fw-bold text-body-emphasis text-center">
                        Ghibli Movie Challenge
                    </h1>
                </div>

