<%- include("partials/header.ejs") %>

        </div>
    </div>
</div>

<div class = "result-box test">
    <div class="container">
        <div class="row test row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Your score</h4>
                    </div>
                    <div class="card-body">
                    <h1 class="card-title pricing-card-title"><%= finalScore %> / 7 </h1>
                    </div>
                </div>
            </div>
            <div class="col-3"></div>    
        </div>
    </div>
</div>

</body>
</html>